<head>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <div class="left-column">
  </div>
  <div class="middle-column">
      <div class="middle-top typing" *ngIf="!youAreMine">{{ header }}</div>
      <div class="middle-top typing" *ngIf="youAreMine">{{ message }}</div>
      <div class="middle-bottom">
        <img src="https://tenor.com/view/anime-anime-hug-anime-boy-anime-girl-gif-17749921123084786510.gif" alt="GIF" class="gif">
        <div style="margin-top: 40px">
          <button class="button button-yes button-margin blob" (click)="onYesClick()">Yes</button>
          <button class="button button-disabled blob" [disabled]="isNoButtonDisabled" (mouseenter)="updateNoButtonText(true)" (mouseleave)="updateNoButtonText(false)">
            {{ noButtonText }}
        </button>
        </div>
      </div>
  </div>
  <div class="right-column">
  </div>
</body>