/* main page styling */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* column or section styling */

.left-column,
.right-column,
.middle-column {
    height: 100vh; /* Set the height as needed */
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 28%;
}

.right-column {
    width: 28%;
}

.middle-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.middle-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line */
  font-family: 'VT323', monospace;
  font-size: 70px; /* Adjust font size as needed */
  font-weight: bolder;
}

.middle-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this line */
  z-index: 0; /* Add this line */
}

/* gif styling */

.gif {
  padding-top: 100px;
  max-width: 100%; /* Adjust as needed */
  max-height: 100%; /* Adjust as needed */
  width: 700px; /* Set your specific width */
  height: 400px; /* Set your specific height */
}

/* column or section styling */

.button {
  font-family: 'VT323', monospace;
  width: 50%;
  height: 15%;
  font-size: 50px; /* Adjust font size as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #de34eb; /* Blue color for illustration */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px; /* Rounded corners */
}

.button:hover {
  background-color: lightgrey; /* Darker blue color for illustration */
}

.button:disabled {
  opacity: 0.5; /* Reduced opacity for disabled state */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.button-yes {
  background-color: #f50ff1; /* Blue color for illustration */
  color: white;
}

.button-yes:hover {
  background-color: darkorchid; /* Darker blue color for illustration */
}

.button-disabled {
  background-color: darkgray;
  color: black;
}

.right-column, .left-column {
  transition: transform 0.3s;
}

.button-disabled:disabled:hover {
  cursor: not-allowed; /* Change cursor to not-allowed */
}

/* blobl styling */

.blob {
  width: 300px;
  height: 300px;
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  overflow: hidden;
  animation: flow 4s infinite ease-in-out;
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes flow {
  0% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }
  35% {
    border-radius: 80% 70% 60% 60% / 80% 70% 60% 60%;
  }
  70% {
    border-radius: 70% 90% 60% 70% / 80% 90% 50% 90%;
  }
  100% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }
}

/* text animation styling */
.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid; /* Mimic typing cursor */
  animation: typing 0.5s steps(100) forwards;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}