<head>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <div class="left-column">
    <button class="button" (click)="onYesClick()">Yes</button>
  </div>
  <div class="middle-column">
      <div class="middle-top" *ngIf="!youAreMine">{{ header }}</div>
      <div class="middle-top" *ngIf="youAreMine">{{ message }}</div>
      <div class="middle-bottom">
          <img src="https://tenor.com/view/couple-ilu-love-you-ya-jump-gif-16702974.gif" alt="GIF" class="gif">
      </div>
  </div>
  <div class="right-column" [ngClass]="noButtonClass" (click)="onNoClick()">
    <button class="button">No</button>
  </div>
</body>